@keyframes showContent {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contest-section {
    display: flex;
    align-items: center;
    background: url('../../assets/img/contest.png') 50% 50%/cover no-repeat;
    overflow: auto;
    flex-wrap: wrap;
    padding: 40px 0;

    #contest,
    #contest-tygodniowy {
        &.start-step {
            .desc-col {
                display: flex;
            }
        }
        .desc-col {
            display: none;
        }

        .step {
            display: none;

            &.active {
                display: block;

                .content {
                    animation: showContent 300ms 0.2s forwards;
                }
            }

            .content {
                opacity: 0;
            }
        }
        
    }

    #contest {
        &.step-2,
        &.step-3,
        &.step-4 {
            .form {
                width: 100%;
            }
        }   
    }
    #contest-tygodniowy {
        &.step-2 {
            .form {
                width: 100%;
            }

            .controls {
                margin-bottom: 0;
            }
        }  
        &.step-3 {
            .header {
                margin-bottom: 35px;
            }
        } 
    }

    .content-layout {
        display: flex;
        position: relative;

        .double-opt {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            border-radius: 18px;
            text-align: center;
            display: none;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            z-index: 10;

            p {
                width: 100%;
                font-size: 16px;
            }

            .btn {
                
            }
        }

        .desc-col,
        .form-col {
            flex-grow: 1;
            flex-basis: 0;
        }

        .desc-col {
            color: #fff;
            padding-right: 10%;
            padding-left: 5%;
            display: flex;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;

            .header-level-1 {
                margin-bottom: 24px;
                width: 100%;
            }
        }

        .form {
            background: #fff;
            padding: 53px;
            border-radius: 18px;
            width: 565px;
            margin: 0 auto;
            transition: width 0.3s;
            
            .header-level-4 {
                margin-bottom: 60px;
            }

            .header-mobile {
                display: none;
            }

            .controls {
                margin-bottom: 65px;
            }

            .buttons {
                display: flex;

                .btn-form {
                    margin: 0 5px 15px;
                }
            }

            .form-foot {
                padding-top: 20px;
                font-size: 10px;
            }

            .btn-form {
                display: block;
                border: 1px solid #d4b45b;
                background: #fff;
                color: #d4b45b;
                font-size: 14px;
                text-transform: uppercase;
                width: 100%;
                padding: 12px;
                text-align: center;
                font-family: 'Oswald', sans-serif;
                box-shadow: 0 0 20px 20px rgba(0,0,0, .03);
                transition: 0.3s;

                &:hover {
                    background-color: #d4b45b;
                    color: #fff;
                    text-decoration: none;
                }

                &.btn-form--black {
                    background: #000;
                    border-color: #000;
                }
            }

            .control-box {
                margin-bottom: 18px;
                width: 100%;

                .label-txt {
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-family: 'Oswald', sans-serif;
                    margin-bottom: 10px;
                }

                .control-form {
                    border: 1px solid #e5e5e5;
                    padding: 10px;
                    width: 100%;
                }

                .checkbox-ctn {
                    float: left;
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    position: relative;

                    .control-form {
                        visibility: hidden;
                    }

                    .state {
                        display: block;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #e5e5e5;
                        position: absolute;
                        top: 2px;
                        &.error{
                            border:1px solid red;
                        }
                    }

                    input:checked ~ .state:after {
                        content: url('../../assets/img/svg/tick.svg');
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }
                }

                .label-checkbox {
                    overflow: hidden;
                }
            }

            .step-2,
            .step-3,
            .step-4,
            .step-5,
            .step-6 {
                .inner {
                    display: flex;

                    .col-left {

                    }

                    .col-right {
                        padding: 0 60px 60px;
                        flex-grow: 1;
                    }
                }

                .header {
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-family: 'Oswald', sans-serif;
                    margin-bottom: 18px;
                }

                .images {
                    width: 501px;
                    padding-right: 15px;
                    height: 364px;
                    overflow: hidden;
                    margin: 0 -9px;
                    position: relative;

                    .image {
                        background-color: #dedede;
                    }
                }

                .image {
                    float: left;
                    width: 144px;
                    height: 173px;
                    margin-right: 9px;
                    margin-left: 9px;
                    margin-bottom: 18px;
                    cursor: pointer;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .header-level-4 {
                    margin-bottom: 25px;
                }

                .clotes {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: 60px 0;
                    height: 338px;
                    position: relative;
                    background: #fff;

                    .remove {
                        display: table;
                        margin: 0 auto;
                        border: 1px solid #000;
                        border-radius: 4px;
                        padding: 3px 9px;
                        font-family: 'Oswald', sans-serif;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover {
                            background: #000;
                            color: #fff;
                        }
                    }

                    .info {
                        width: 100%;
                        text-align: center;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            .step-5 {
                .image {
                    background: none;
                }
            }

            .step-6 {
                text-align: center;

                .header-level-4 {
                    margin-bottom: 30px;
                }

                .header {
                    margin-bottom: 38px;
                }
            }
        }
    }
}

.odziez_slider {
    width: 459px;

    .slick-prev:before, 
    .slick-next:before {
        color: #000;
    }

    .slick-list {
        background: #fff;
    }

    .image {
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.contest-section-2 {
    background: url('../../assets/img/photo_bg_popup.jpg') 50% 50%/cover no-repeat;

    .content-layout {
        .desc-col {
            padding-right: 7%;
            color: #000;
        }
    }
}

.get-regulations {
    text-decoration: underline;
    color: #D4B45B;

    &:hover {
        color: #000;
    }
}


@media (max-width: 1199px) {
    .contest-section {
    
        .content-layout {
    
            .desc-col {
                padding-right: 5%;
                padding-left: 0;
            }
        }

        .form {
                
    
            .step-2,
            .step-3,
            .step-4,
            .step-5,
            .step-6 {
                .inner {
                    flex-wrap: wrap;
                }

                .header-mobile {
                    display: block;
                }

                .col-right {
                    .header-level-4 {
                        display: none;
                    }
                }

                .col-left {
                    margin: 0 auto;
                }
            }
        }

    }
}

@media (max-width: 991px) {
    .contest-section {
    
        .content-layout {

            flex-wrap: wrap;
    
            .desc-col {
                justify-content: center;
                padding-right: 0;
                padding-left: 0;
                text-align: center;
            }

            .form-col {
                flex-basis: auto;
                width: 100%;
            }

            .form {
                width: auto;
            }
        }
    }
}

@media (max-width: 767px) {
    .contest-section {

        .content-layout {

            .form {
                 padding: 30px;   
        
                .step-2,
                .step-3,
                .step-4,
                .step-5,
                .step-6 {
                    .images {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin: 0;
                    }

                    .inner {
                        .col-right {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }

                .buttons {
                    flex-wrap: wrap;
                }
            }
        }
    }

    .odziez_slider {
        width: 288px;
    }
}

@media (max-width: 479px) {

    .odziez_slider {
        width: 144px;
    }
}