.product-slider {
    width: 302px;

    &:after {
        display: block;
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        height: 34px;
        background: #fff;
    }

    .row-slider {
        display: flex !important;
        margin: 0 -7px;

        .item {
            margin: 0 7px;
            padding-bottom: 30px;

            .img-box {
                width: 144px;
                height: 153px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 21px;
                background: #dedede;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .image-details {
                display: flex;
                flex-wrap: wrap;
                height: 38px;
                justify-content: space-between;
                margin-right: 10px;

                .price {
                    white-space: nowrap;
                }
            }
        }
    }

    .slick-prev {
        display: none !important;
    }

    .slick-next {
        background: url('../../assets/img/svg/arrow_down.svg') 50% 50% no-repeat;
        right: calc(50% - 15px);
        top: calc(100% - 24px);
        transform: translateX(0) translateY(0);
        border: 1px solid transparent;
        width: 30px;
        height: 24px;
        border-radius: 6px;
        transition: 0.3s;
        z-index: 2;
        
        &:hover {
            border-color: #000;
        }

        &:before {
            display: none;
        }
    }
}

.fifth-section {

    .container {
        height: 100vh;
        display: flex;
        align-items: center;

        .inner {
            display: flex;
            justify-content: center;
            width: 100%;

            .side {
                padding-right: 30px;
            }

            .main {

                .video-box {
                    position: relative;

                    .video-play {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        cursor: pointer;
                        
                        img {
                            margin: 0 auto 10px;
                        }

                        .txt {
                            font-size: 24px;
                            color: #fff;
                            text-transform: uppercase;
                            font-family: 'Oswald', sans-serif;
                            letter-spacing: 0.6px;
                        }
                    }
                }
            }
        }
    }

    &.fifth-section-two {
        .container {
            .inner {
                .side {
                    padding-right: 0;
                    padding-left: 30px;
                }
            }
        }
    }
    
}