.section {
    height: 100vh;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/img/bg_hero.png') 50% 50%/cover no-repeat;

    .soundtoggle{
        position: absolute;
        bottom: 100px;
        left: 4%;
        width:30px;
        height:30px;
        display:block;
        z-index: 999;
        display:flex;
        align-items: center;
        justify-content: center;
        &:before,
        &:after{
            content:'';
            display:block;
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
            transition: opacity .3s ease-in-out;
            cursor: pointer;
        }
        &:before{
            background:url('../img/svg/sound_filled_off.svg') no-repeat center center;
            opacity:1;
        }

        &:after{
            background:url('../img/svg/sound_filled.svg') no-repeat center center;
            opacity:0;
        }
        &.on{
            &:before{
                opacity: 0;
            }
            &:after{
                opacity: 1;
            }
        }
    }

    #startVideo {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom:0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        position: relative;
        z-index: 1;
        margin-top: 10%;
    }

    h1 {
        text-align: center;
        margin-bottom: 29px;
        color: #fff;
        opacity: 0;
        position: relative;
        top: 100px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .btn {
            margin: 0 10px 10px;
            position: relative;
            top: 100px;
            opacity: 0;
        }
    }
}

@media (max-width: 1199px){
    .first-section {
    
        .soundtoggle{
            bottom: auto;
            left: 4%;
            top: 100px;
        }

    }
}

@media (max-width: 767px){
    .first-section {
    
        .soundtoggle{
            bottom: auto;
            left: 4%;
            top: 70px;
        }

    }
}