.fourth-section {
    .inner {
        height: 100vh;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        background: url('../../assets/img/photo_mc.png') 50% 50%/cover no-repeat;

        .container {
            display: flex;

            .section-col {
                flex-grow: 1;
                flex-basis: 0;

                .header-level-1 {
                    color: #fff;
                }

                &.section-col-2 {
                    .logo {
                        margin-bottom: 33px;
                    }
                    p {
                        color: #fff;
                    }

                    .list {
                        list-style: none;
                        padding-left: 0;

                        li {
                            display: flex;
                            margin-bottom: 38px;

                            .img-box {
                                width: 49px;
                                flex-shrink: 0;
                            }

                            .txt {
                                color: #fff;
                                font-size: 14px;
                                padding-top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .fourth-section .inner .container .section-col-1{
        &.vcenter{
            display:flex;
            align-items: center;
        }
    }
}