.results-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/img/wyniki.png') 50% 50%/cover no-repeat;

    .text {
        font-size: 24px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
    }
}