.second-section {

    .inner {
        height: 100vh;
        display: flex;
        align-items: center;

        .bg-row {
            height: 100vh;
            position: absolute;
            left: 0;
            right: 0;
            display: flex;

            .bg-col-1,
            .bg-col-2 {
                width: 50%;
                flex-grow: 1;
            }

            .bg-col-2 {
                height: 100vh;
                background: url('../../assets/img/photo_2.png') 50% 50%/cover no-repeat;
            }
        }
        .container {
            display: flex;
            position: relative;

            .side {
                width: 50%;
                padding-right: 3%;

                .logo {
                    margin-bottom: 28px;
                }

                .header-level-1,
                .p-level-1 {
                    margin-bottom: 35px;
                }

                .list {
                    list-style: none;
                    padding-left: 0;
                    margin-top:55px;
                    
                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 33px;
                        line-height: 1.8;

                        div.first{
                            display:flex;
                            align-items:center;
                            width:75%;
                            flex: 0 0 60%;
                        }

                        div.second{
                            display: flex;
                            align-items: center;
                            width:25%;
                            flex: 0 0 40%;
                            .btn--pn{
                                width:130px;
                                max-width: 100%;
                            }
                            .btn--pn2{
                                height:30px;
                                line-height: 30px;
                                padding:0;
                                margin-bottom: auto;
                            }
                        }

                        .img-box {
                            width: 57px;
                            display: flex;
                            justify-content: center;
                            flex-shrink: 0;
                            margin-right:5px;
                        }

                        .btn {
                            margin-left: 15px;
                        }
                    }
                }

                .buttons {
                    .btn {
                        margin-right: 21px;
                        margin-bottom: 10px;
                    }
                }
            }

            .main {
                width: 50%;
            }
        }
    }
}


@media (max-width: 480px){

    .second-section {

        .inner {
            .container {
                .side {
                    .list {
                        li {
                            flex-wrap: wrap;
                            div.first{
                                width:100%;
                                flex: 0 0 100%;
                            }
                            div.second{
                                width:100%;
                                flex: 0 0 100%;
                                justify-content: center;
                                margin-top: 10px;
                                .btn{
                                    margin:auto;
                                }
                            }

                        }
                    }

                }

            }
        }

    }

}

@media (max-width: 1199px) {
    .second-section {
        .inner {
            .container {
                .side {
                    .list {
                        li {
                            flex-wrap: wrap;

                            div.first {
                                flex: 0 0 100%;
                                width: 100%;
                            }

                            .second {
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}