.section {
    height: 100vh;
}

.seven-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/img/bg_2.jpg') 50% 50%/cover no-repeat;

    .container {
        position: relative;
    }

    .catalog-slider-container {
        position: relative;
        max-width: 895px;
        margin: 0 auto;

        .item {
            &:focus,
            &:hover {
                outline: none;
            }
        }
    }

    .catalog-slider-all {

        .slick-prev {
            width: 40px;
            height: 40px;
            left: -67px;
            background: url('../../assets/img/svg/expand_arrow.svg') 50% 50% no-repeat;
            border: 1px solid transparent;
            transform: rotate(180deg) translateY(50%);
            transition: 0.3s;
            border-radius: 6px;

            &:before {
                display: none;
            }

            &:hover {
                border: 1px solid #000;
            }
        }

        .slick-next {
            width: 40px;
            height: 40px;
            right: -67px;
            background: url('../../assets/img/svg/expand_arrow.svg') 50% 50% no-repeat;
            border: 1px solid transparent;
            transition: 0.3s;
            border-radius: 6px;

            &:before {
                display: none;
            }

            &:hover {
                border: 1px solid #000;
            }
        }

        .item {

            .inner {
                padding: 0 7px;
                position: relative;
            }

            img {
                width: 100%;
            }

            .img-label {
                position: absolute;
                background-color: #D4B45B;
                font-size: 15px;
                color: #fff;
                padding: 10px 20px;

                .note {
                    font-size: 18px;
                }

                .clothes {
                    padding-left: 0;
                    list-style: none;
                    font-family: 'Oswald', sans-serif;
                }
            }

            &.item-one {
                .img-label {
                    left: 7px;
                    bottom: 30px;
                }
            }

            &.item-two {
                .img-label {
                    left: 7px;
                    bottom: 157px;
                }
            }

            &.item-three {
                .img-label {
                    right: 7px;
                    bottom: 68px;
                }
            }
        }
    }
}
