.third-section {
    .inner {

        background: url('../../assets/img/photo_konkurs.jpg') 45% 50%/cover no-repeat;

        .container {
            height: 100vh;
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            .side {
                width: 35%;
                padding-right: 30px;
                /*background: url('../../assets/img/photo_konkurs_tyg.png') 50% 0/cover no-repeat;*/

                h3 {
                    color: #000;
                    margin-bottom: 34px;
                }
            }

            .main {
                width: 65%;
                padding-left: 12%;
                /*background: url('../../assets/img/photo_konkurs_glowny.png') 50% 0/cover no-repeat;*/

                .header-level-1 {
                    margin-bottom: 20px;
                    color: #fff;
                }

                p {
                    color: #fff;
                }
            }

        }
    }
}