.winners {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/img/zwyciezcy_all.png') 50% 50%/cover no-repeat;

    .container {
        display: flex;

        .col-winners-1 {
            flex-grow: 1;
            flex-basis: 0;
            padding-right: 20%;

            .header-level-1 {
                margin-bottom: 25px;
            }

            .header-level-2 {
                margin-bottom: 25px;
            }

            .persons {
                .item {
                    margin-bottom: 39px;

                    .name {
                        margin-bottom: 10px;
                    }

                    .desc {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }

        .col-winners-2 {
            flex-grow: 1;
            flex-basis: 0;

            .header-border {
                margin-bottom: 20px;
            }

            .person-main {
                color: #fff;

                .name {
                    margin-bottom: 10px;
                }

                .desc {
                    font-size: 14px;
                    font-weight: 300;
                    margin-bottom: 48px;
                }
            }

            .products {
                display: flex;
            }
        }
    }
}