body {
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 1.36;
    color: #000;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select,
    textarea,
    input {
      font-size: 16px;
    }
}


input {
    -webkit-appearance: none;
}

img {
    max-width: 100%;
    display: block;
}


p {
    margin-bottom: 30px;
}

p b {
    font-weight: 700;
}

.header-level-1 {
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.header-level-2 {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.header-level-3 {
    font-size: 16px;
    color: #333333;
    margin-bottom: 22px;
}

.header-level-4 {
    font-size: 25px;
    line-height: 1.36;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.ps__rail-y {
    opacity: 1 !important;

    .ps__thumb-y {
        width: 10px;
        border-radius: 5px;
        background: #efefef;
    }
}

.btn {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 1;
    padding: 17px;
    background-color: #D4B45B;
    color: #fff;
    border-radius: 0;
    letter-spacing: 1px;
    transition: 0.3s;
    text-transform: uppercase;

    &:hover {
        color: #D4B45B;
        background-color: #000;
    }

    &.btn--small {
        padding: 7px 21px;
    }

    &.btn--white {
        color: #D4B45B;
        background-color: #fff;

        &:hover {
            color: #D4B45B;
            background-color: #000;
        }
    
    }
}

.header-border {
    display: inline-block;
    padding: 5px 8px;
    font-size: 14px;
    text-transform: uppercase;
    color: #D4B45B;
    border: 1px solid #D4B45B;
    margin-bottom: 12px;
}

#mobile-menu-btn {
    display: none;
}

#mobile-menu {
    display: none;
}

#page-header {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: 1s;
    
    .container {
        height: 80px;
        display: flex;
        align-items: center;

        .logo {
            width: 119px;
            height: 26px;
            margin-right: 16px;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                display: block;
                width: 1px;
                height: 62px;
                top: 50%;
                position: absolute;
                right: -16px;
                background: #fff;
                transform: translateY(-50%);
            }

            img {
                transition: 0.3s;
                position: absolute;
            }
            img:nth-child(1) {
                visibility: visible;
                opacity: 1;
            }
            img:nth-child(2) {
                visibility: hidden;
                opacity: 0;
            }
        }

        .logo-mastercard {
            width: 126px;
            height: 42px;
            margin-left: 16px;

            img {
                transition: 0.3s;
                position: absolute;
            }
            img:nth-child(1) {
                visibility: visible;
                opacity: 1;
            }
            img:nth-child(2) {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}

.loaded {
    #page-header {
        transform: translateY(0);
    }

    .onepage-pagination {
        animation: fade 1s 1s forwards;
    }

    .first-section {
        .header-level-1 {
            animation: fadeUp 1s 0.5s forwards;
        }

        .buttons {
            .btn:first-child {
                animation: fadeUp 1.2s 1s forwards;
            }

            .btn:last-child {
                animation: fadeUp 1.2s 1.2s forwards;
            }
        }
    }
}

.viewing-page-2,
.viewing-page-3,
.viewing-page-4,
.viewing-page-6,
.viewing-page-7 {
    #page-header {
        
        .container {
    
            .logo {

                &:after {
                    background: #000;
                }
            }
        }
    }
}

.viewing-page-2,
.viewing-page-3,
.viewing-page-4,
.viewing-page-6,
.viewing-page-7 {
    #page-header {
        
        .container {
    
            .logo {
                img:nth-child(1) {
                    visibility: hidden;
                    opacity: 0;
                }
                img:nth-child(2) {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .logo-mastercard {
                img:nth-child(1) {
                    visibility: hidden;
                    opacity: 0;
                }
                img:nth-child(2) {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

.product-slider {
    .row-slider {
        .item {
            color: #000;

            &:hover {
                text-decoration: none;
            }

            &:hover,
            &:focus {
                outline: none;
            }

            .image-details {
                color: #000;
                transition: 0.3s;
            }
        }

        a.item {
            &:hover {
                .image-details {
                    color: red;
                }
            }
        }
    }
}

.onepage-pagination {
    width: 120px;
    transition: 0.3s;
    position: fixed;
    opacity: 0;
    transition: 1s;
    transform: translateY(-50%);

    li {
        margin-bottom: 5px;

        a {
            display: block;
            width: auto;
            padding: 5px 0;
            padding-left: 27px;
            text-transform: uppercase;
            text-align: left;
            height: auto;
            font-size: 11px;
            font-family: 'Oswald', sans-serif;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.94);
            color: #fff;
            position: relative;

            &:hover {
                text-decoration: none;

                &:before {
                    width: 12px;
                }
            }

            &:focus {
                color: #fff;
            }

            &:before {
                width: 6px;
                height: 1px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.94);
                background-color: #fff;
                right: calc(100% - 20px);
                top: 50%;
                transition: 0.3s;
            }

            &.active {
                font-size: 13px;

                &:before {
                    border: none;
                    width: 20px;
                    margin-top: 0;
                    height: 1px;
                    left: auto;
                    background-color: #fff;
                }
            }
        }
    }
}

.mobile {
    .onepage-pagination {
        display: none !important;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .fourth-section {
        .inner {
            .container {
                .section-col-2 {
                    padding-right: 12%;
                }
            }
        }
    }

    .fifth-section {
        .container {
            .inner {
                padding-right: 12%;
            }
        }
    }

    .third-section {
        .container {
            .inner {
                .main {
                    padding-right: 12%;
                }
            }
        }
    }

    .seven-section {
        padding-right: 12%;
    }

    .winners {
        .container {
            .col-winners-1 {
                padding-right: 15%;
            }
            .col-winners-2 {
                padding-right: 10%;
            }
        }
    }

    
}

@media (min-width: 1200px) and (max-width: 1500px) and (min-height: 781px) {
    .seven-section {
        .catalog-slider-container {
            max-width: 800px;   
        }
    }

    .product-slider {
        .row-slider {
            .item {
                .img-box {
                    height: 133px;
                }
            }
        }
    }

}

@media (min-width: 1200px) {
    .viewing-page-2,
    .viewing-page-3,
    .viewing-page-4,
    .viewing-page-7{
        .page-footer {
            .footer-bar {
                .copy {
                    color: #000;
                }

                .socials {
                    .item {
                        background: #000;

                        &:hover {
                            background: #D4B45B;
                        }
                    }
                }
            }
        }
    }

    .fifth-section {

        .container {
            .inner {

                .main {
                    max-height: calc(100vh - 200px);

                    .video-box {
                        max-height: calc(100vh - 200px);

                        img {
                            max-height: calc(100vh - 200px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    body {
        .seven-section {
            .catalog-slider-container {
                padding-top: 150px;
            }
        }
    }
}

@media (max-width: 1199px) {

    html,body {
        overflow: visible !important;
    }

    body {
        overflow: auto;
        overflow-x: hidden;
    }

    #fullpage {
        
    }

    .third-section {
        .inner {
            .container {
                display: block;
                max-width: none;
                padding: 0;

                .side {
                    width: 100%;
                    background-size: cover;
                    padding-top: 80px;
                    padding-bottom: 80px;
                }

                .main {
                    width: 100%;
                    padding: 30px;
                    padding-top: 80px;
                    padding-bottom: 80px;
                }
            }
        }
    }

    .third-section {
        .inner {
            background: none;

            .container {
                height: auto;

                .side {
                    padding: 100px 30px 50px;
                    background: url('../img/photo_konkurs_tyg.png') 50% 0/cover no-repeat;
                }

                .main {
                    padding: 50px;
                    background: url('../img/contest.png') 50% 0/cover no-repeat;
                }
            }
        }
    }

    .section {
        height: auto !important;
    }

    body.menu-open {
        #mobile-menu {
            left: 0;
        }
    }

    #mobile-menu-btn {
        margin-left: auto;
        display: block;
    }

    #mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        background: #fff;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background: #000;
        overflow-y: auto;
        padding: 30px;
        -webkit-overflow-scrolling: touch;
        transition: 0.3s;

        #mobile-menu-close {
            position: absolute;
            right: 15px;
            top: 15px;

            img {
                width: 35px;
            }
        }

        .menu {
            margin-bottom: 0;
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

            li {
                width: 100%;
                text-align: center;
                margin-bottom: 15px;

                a {
                    border: none;
                    background: none;
                    color: #fff;
                    font-size: 20px;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    #fullpage {
        height: auto;
    }

    .page-footer {
        position: static;
        background: #000;
        opacity: 1;
        border-top: 1px solid rgba(255,255,255, .3);

        .bar-progress {
            display: none;
        }
    }

    #page-header {

        .container {
            .logo,
            .logo-mastercard {
                img:nth-child(1) {
                    visibility: hidden;
                    opacity: 0;
                }
                img:nth-child(2) {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .logo {
                &:after {
                    background: #000;
                }
            }
        }
    }

    .onepage-wrapper {
        .section {
            height: auto;
        }
    }

    .first-section {
        min-height: 100vh;
    }

    #page-header {
        background: rgba(255,255,255, .8);
    }

    .fourth-section {
        .inner {
            height: auto;
            padding: 200px 0 120px;
            background-position: 50% 50%;
        }
    }

    .fifth-section {

        .container {
            height: auto;
            padding-top: 100px;
            padding-bottom: 50px;

            .inner {
                .main {
                    padding-top: 65px;
                }
            }
        }

        &.fifth-section-two {
            padding-bottom: 50px;
        }
    }

    .seven-section {

        .catalog-slider-container {
            padding: 10vh 40px;

            .catalog-slider-all {

                .slick-next {
                    right: -50px;
                }

                .slick-prev {
                    left: -50px;
                }
            }
        }
    }

    .results-section {
        padding: 200px 0;
    }

    .winners {

        .container {

            .col-winners-1 {
                padding: 70px 50px;
            }
            .col-winners-2 {
                padding: 70px 50px;
            }
        }
    }

}

@media (max-width: 991px) {
    
    .header-level-1 {
        font-size: 28px;
    }

    .btn {
        padding: 12px;
    }

    .second-section {
        .inner {
            .bg-row {
                max-width: 720px;
                margin: 0 auto;
                padding: 0 15px;
            }
        }
    }
    
    

    .fifth-section {
        .container {
            flex-wrap: wrap;
            height: auto;

            .inner {
                flex-wrap: wrap;

                .side {
                    padding-right: 0;
                    padding-top: 60px;
                    margin: 0 auto;
                    order: 1;
                }
            }
        }

        &.fifth-section-two {
            .container {
                .inner {
                    .side {
                        order: 1;
                        margin: 0 auto;
                        padding-left: 0;
                    }
                }
            }
        }
    }

    .seven-section {
        display: block;

        .catalog-slider-container {
            .catalog-slider-all {
                flex-wrap: wrap;
                top: 100%;
                left: 0;
                right: 0;
                transform: translateY(0);
                transition: top 1s, opacity 1s;
                justify-content: center;

                .item {
                    width: 278px;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        margin: 0 auto;
                    }
                }
            }

            &.collapsed {
                .catalog-slider {
                    display: none;
                }
                .catalog-slider-all {
                    top: 0;
                    padding-top: 50px;
                    position: relative;
                    opacity: 1;
                    left: auto;
                }
            }
        }

    }

}

@media (max-width: 767px) {
    .page-footer {
        height: auto;

        .footer-bar {
            flex-wrap: wrap;
            padding: 40px 0;

            .socials {
                position: static;
                transform: translateY(0);
                width: 100%;
                justify-content: center;
                margin-top: 25px;
            }
        }
    }

    #mobile-menu {

        .menu {

            li {

                a {
                    font-size: 16px;
                }
            }
        }
    }

    #page-header {
        .container {
            height: 50px;

            .logo {
                width: 80px;
                height: 17px;

                img {
                    width: 80px;
                    height: 17px;
                }

                &:after {
                    height: 32px;
                }
            }

            .logo-mastercard {
                width: 80px;
                height: 27px;

                img {
                    width: 80px;
                    height: 27px;
                }
            }
        }
    }
    .first-section {
        padding-top: 100px;
    }

    .second-section {
        .inner {
            height: auto;
            padding-top: 70px;
            padding-bottom: 30px;

            .bg-row {
                .bg-col-2 {
                    background: none;
                }
            }

            .container {
                display: block;

                .side {
                    width: 100%;
                }
            }
        }
    }

    .fourth-section {
        .inner {
            height: auto;
            background-position: 50%;
            padding: 100px 0 60px;

            .container {
                display: block;

                .section-col-1 {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .fifth-section {
        .container {
            padding-top:0;

            .header-level-3 {
                text-align: center;
            }

            .inner {
                .main {
                    .video-box {
                        .video-play {
                            .txt {
                                font-size: 18px;
                            }
                        }
                    }

                    &.mobile {
                        padding-top: 30px;
                    }
                }
            }
        }
    }

    .seven-section {
        background-image: url('../../assets/img/bg_2-mobile.png');
        
        .catalog-slider-container {
            padding: 10vh 0;
            max-width: 278px;
        }
    }

    body {
        .seven-section {
            .catalog-slider-container {
                padding-top: 120px;
                padding-bottom: 120px;
            }
        }
    }

    .product-slider {
        padding: 0 20px;

        .row-slider {
            margin: 0;

            .item {
                .img-box {
                    width: 116px;
                }
            }
        }

        &:after {
            display: none;
        }

        .slick-next {
            right: -10px;
            top: 50%;
            transform: translateX(0) translateY(-150%) rotate(-90deg);
        }

        .slick-prev {
            display: block !important;
            left: -10px;
            top: 50%;
            background: url('../../assets/img/svg/arrow_down.svg') 50% 50% no-repeat;
            transform: translateX(0) translateY(-150%) rotate(90deg);
            border: 1px solid transparent;
            width: 30px;
            height: 24px;
            border-radius: 6px;
            transition: 0.3s;
            z-index: 2;

            &:hover {
                border-color: #000;
            }

            &:before {
                display: none;
            }
        }
    }

    .winners {

        background: none;

        .container {
            flex-wrap: wrap;
            max-width: none;
            padding: 0;

            .col-winners-1 {
                width: 100%;
                flex-basis: auto;
                padding: 70px 30px;
                background: url('../../assets/img/zwyciezcy_1.png') 50% 50%/cover no-repeat;
            }
            .col-winners-2 {
                width: 100%;
                flex-basis: auto;
                padding: 70px 30px;
                background: url('../../assets/img/zwyciezcy_2.png') 50% 50% no-repeat;
            }
        }
    }

    .results-section {
        padding: 100px 0;
    }
}

@media (max-width: 479px) {
    .product-slider {
        .row-slider {

            .item {

                .img-box {
                    width: 116px;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .fifth-section {
        .container {
            .inner {
                .side {
                    padding-top: 30px;
                }
            }
        }
    }

    .seven-section {
        .catalog-slider-container {
            padding: 10vh 0;
            max-width: 230px;

            .catalog-slider-all {
                .item {
                    .img-label {
                        font-size: 13px;
                    }
                }

                .slick-next {
                    right: -40px;
                    width: 35px;
                }
    
                .slick-prev {
                    left: -40px;
                    width: 35px;
                }
            }
        }
   
    }
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;

    &.active {
        opacity: 1;
    }

    .footer-bar {
        display: flex;
        justify-content: center;
        padding: 23px 0 28px;
        position: relative;

        .copy {
            color: #fff;
        }

        .socials {
            position: absolute;
            right: 50px;
            display: flex;
            align-items: center;
            top: 50%;
            transform: translateY(-50%);
            
            .item {
                margin: 0 10px;
                border-radius: 50%;
                background: transparent;
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;

                &:hover {
                    background: #D4B45B;
                }
            }
        }
    }
}

.bar-progress {
    display: flex;
    height: 10px;
    align-items: center;

    &:after {
        position: absolute;
        right: 0;
        left: 0;
        top: 5px;
        display: block;
        content: "";
        height: 1px;
        background: #CECECE;
    }
    
    .item {
        flex-grow: 1;
        flex-basis: 0;
        position: relative;
        z-index: 1;

        .inner {
            position: absolute;
            width: 0;
            left: 0;
            top: 50%;
            height: 1px;
            background: #D4B45B;
        }

        &:after {
            position: absolute;
            right: calc(0px - 5px);
            top: 50%;
            transform: translateY(-50%);
            display: block;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: #CECECE;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &.done {
            .inner {
                width: 100%;
            }

            &:after {
                background: #D4B45B;
            }
        }
    }
}

@media (max-height: 780px) {
    .header-level-1 {
        font-size: 24px;
    }

    .second-section {
        .inner {
            .container {
                .side {
                    .list {
                        margin-bottom: 15px;

                        li {
                            margin-bottom: 33px;
                            font-size: 12px;

                            .img-box {
                                height: 20px;

                                img {
                                    height: 100%;
                                }
                            }
                        }
                    }

                    p {
                        font-size: 12px;
                    }

                    .buttons {
                        .btn {
                            padding: 12px;
                        }
                    }
                }
            }
        }
    }

    .product-slider {
        .row-slider {
            .item {
                padding-bottom: 10px;

                .img-box {
                    height: 104px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .fifth-section {

        .container {
    
            .inner {
                align-items: center;
            }
        }
    }
}