//breakpoint 0
@include media-breakpoint-up(xs) {
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    html {
        font-size: .625rem;
        min-height: 100%;
    }
    
    body {

        line-height: 1.4;
    }

    html,
    body{
        height: 100%;
    }
    
     ::-moz-selection {
        background: blue;
        color: #fff;
    }
    
     ::selection {
        background: blue;
        color: #fff;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    h2{

    }

    h3{

    }

    p {

    }
    
    a {

    }

    i,
    i:before{

    }
    
    img{
      max-width: 100%;
      height: auto;
    }

    
    .form-error-msg{
        display:none;
        color:red;
        text-align: center;
        margin-top:20px;
        width:100%;
    }

    #limiterBox{
        margin-top: 5px;
        font-size: 12px;
    }

    
    @keyframes preloader4 {
        from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
        to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
     }
     
     .btn-form{
        position: relative;
        span{
            display:block;
        }
         &:disabled{
             span{
                 display:none !important;
             }
             min-height: 45px;
             background-color:#d4b45b !important;
             &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 2;
                    top:13px;
                    left:0;
                    right:0;
                    margin:0 auto;
                    width:100%;
                    height:100%;
                    width:18px;
                    height:18px;
                    display:inline-block;
                    padding:0px;
                    border-radius:100%;
                    border:2px solid;
                    border-top-color:rgba(255,255,255, 0.65);
                    border-bottom-color:rgba(255,255,255, 0.15);
                    border-left-color:rgba(255,255,255, 0.65);
                    border-right-color:rgba(255,255,255, 0.15);
                    animation: preloader4 0.8s linear infinite;
                
             }
             &:hover,
             &:focus{
                 background-color:#d4b45b !important;
             }
         }
         @include mod('black'){
            &:disabled{
                min-height: 45px;
                background-color:#000 !important;
                &:hover,
                &:focus{
                    background-color:#000 !important;
                }
            }
         }
     }

     .error-msg{
         color:red;
         margin-top:5px;
         display:none;
     }

     .control-form{
         transition: all .3s ease-in-out;
         &.error{
             border-color:red !important;
         }
     }

}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {


}

//sl: 1440px
@include media-breakpoint-up(sl) {
    
}