.page-typ {
    height: 100vh;
    background: url('../../assets/img/typ.jpg') 50% 20%/cover no-repeat;
    position: relative;

    #page-header {
        .container {
            .logo:after {
                background: #000;
            }

            .logo img:nth-child(1),
            .logo-mastercard img:nth-child(1) {
                visibility: visible !important;
                opacity: 1 !important;
            }
        }
    }

    .page-typ-content {
        height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;

        h1 {
            font-size: 36px;
            width: 100%;
            margin-bottom: 20px;
        }

        p {
            width: 100%;
            font-size: 16px;
        }
    }

    .page-footer {
        opacity: 1;

        .footer-bar {

            border-top: 1px solid rgba(0,0,0, .3);

            .copy {
                color: #000;
            }

            .socials {
                .item {
                    background: #000;

                    &:hover {
                        background: #D4B45B;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .page-typ {
    
        .page-typ-content {
            height: calc(100vh - 50px);
        }
    }
}